
body {
    padding-top: 150px;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    height: 100%;
    font-family: "Lato";
    font-weight: 300;
    font-size: 18px;
    color: #777777;
    line-height: 1.42857143;
    background-color: #f6f6f6;
}


.navigation-container {
    color: rgb(255, 255, 255);
    max-width: 1500px;
    background: linear-gradient(49deg, rgb(83, 78, 172) 0%, rgb(83, 78, 172) 1%, rgb(168, 73, 171) 81%, rgb(168, 73, 171) 100%);
    padding: 10px 40px;
    border-radius: 0px;
    border-color: transparent;
    border-width: 0px;
    margin: auto;
}
ul {
    padding-top: 25px;
    font-size: 26px;
    list-style: none;
    margin: auto;
    padding-left: 0;
    
}

li {
    
    position: center;
    padding-left: 25px;
    
}
    li a {
    color: white;
}
    /* Set padding to keep content from hitting the edges */
    .body-content {
    padding-left:0px;
    padding-right: 0px;
    
}

.logo {
    float: left;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
