@{
    ViewBag.Title = "About";
}
<h1>About.</h1>
<br />
<br />
<br />
<br />

<p style="font-size:x-large;font-family:'Baskerville Old Face'">Promeet-Meeting Room Booking System acts as a bridge between building vendors and the users who need to book the meeting rooms.
    We understand how annoying it is to get disturbed by phone calls and dealing with customers whose appointments have mixed up.
    Promeet is the one stop solution for all your problems</p>
<p style="font-size:x-large;font-family:'Baskerville Old Face'">Enjoy your personal time and increasing business as you don't have to deal with frustrated customers and scheduling chaos.</p>