@{
    ViewBag.Title = "Contact";
}
<h1>Contact Us.</h1>




<address>
    <span class="glyphicon glyphicon-send"><b style="font-size:xx-large">EmailSupport:</b></span>  <a>promeetorg@gmail.com</a><br />

     <span class="glyphicon glyphicon-phone-alt"><b style="font-size:xx-large">ContactNumber:</b></span> <a>+91828193117</a><br />
</address>