@{
    ViewBag.Title = "Home Page";
}
   
<div class="container-fluid" style="background-color:whitesmoke;padding-top:50px;">
    <h1 style="color:blue;font-size:50px;text-align:center;">Meeting Rooms Scheduling Software</h1>
</div>

<div class="container serviceMaincontainer" style="padding-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <p>The rising trend in freelancers working from shared offices is one that is changing the face of business, and there are also more businesses than ever before saving money by using shared facilities and resources. For business incubators, our meeting room booking software is very useful, and it offers much more than just booking systems.For Building Vendors,it is useful for them to add their rooms in the software providing the respective amenities in the rooms.</p>
            <p>Promeet is a free online room booking software with which you can book a meeting room from any part of the world with just an internet connected device. You can schedule a meeting in the room of your choice right from your home screen. Promeet is a fantastic way of making sure your room management system is running smoothly. Our meeting room management software comes with lots of features for your business. The weekly dashboard shows room availability instantly and users can book a meeting room in just a few clicks.</p>
        </div>
        <div class="col-md-offset-7" style="padding-top:50px">
            <img class="img-responsive serviceImg" src="~/Content/Images/bg3.jpg" alt="Meeting Rooms Scheduling Software" style="image-rendering:auto">
        </div>
    </div>
</div>

<div class="uses-container gradient-container">
    <div class="container-fluid section uses-container-img free-container">
        <h2 class="section-title" style="margin-bottom: 20px;font-size: 50px;">Promeet is totally FREE!</h2>
        <p style="font-size: 25px;">No credit cards and no limitations</p>
        <div class="signup-btn" style="padding: 10px 24px;font-size: 35px;margin: 20px 0px;">@Html.ActionLink("SIGN UP FOR FREE", "Registration", "User")</div>
    </div>
</div>|
<style>

    .serviceImg {
        margin: auto;
        width: 100%;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .uses-container {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        overflow: visible;
        color: #fff;
    }

    .gradient-container {
        width: 100%;
        background: linear-gradient(49deg, rgba(83,78,172,1) 0%, rgba(83,78,172,1) 1%, rgba(168,73,171,1) 81%, rgba(168,73,171,1) 100%);
    }

    
</style>
